* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2d617a !important;
}

.wrapper {
    width: 75%;
    margin: 0 auto;
    background-color: white;
}

.header__menu {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding-right: 10px;
}

.header__list {
    display: flex;
    gap: 10px;
}

.header__link {
    text-decoration: none;
    color: white;

}

p {
    font-size: 16px;
}

h1  {
    font-weight: 600;
    font-size: 32px;
    padding: 20px 0;
    text-align: center;
    color: white;
}

.logo {
    width: 120px;
    height: 100px;
}

.index_info {
    padding: 30px 0 0 30px;
}

.index_categories {
    padding: 0 0 30px 30px;
    margin: 16px 0;
}

.signup-form {
    padding: 30px 0;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.signup-form-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;

}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.fw-normal {
    color: black;
}

.title-section {
    text-align: center;
}

body{margin-top:20px;}
.icon-box.medium {
    font-size: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
}
.icon-box {
    font-size: 30px;
    margin-bottom: 33px;
    display: inline-block;
    color: #ffffff;
    height: 65px;
    width: 65px;
    line-height: 65px;
    background-color: #59b73f;
    text-align: center;
    border-radius: 0.3rem;
}
.social-icon-style2 li a {
    display: inline-block;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    background: #59b73f;
    height: 41px;
    line-height: 41px;
    width: 41px;
}
.rounded-3 {
    border-radius: 0.3rem !important;
}

.social-icon-style2 {
    margin-bottom: 0;
    display: inline-block;
    padding-left: 10px;
    list-style: none;
}

.social-icon-style2 li {
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
}

a, a:active, a:focus {
    color: #616161;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

.text-secondary, .text-secondary-hover:hover {
    color: #59b73f !important;
}
.display-25 {
    font-size: 1.4rem;
}

.text-primary, .text-primary-hover:hover {
    color: #ff712a !important;
}

p {
    margin: 0 0 20px;
}

.mb-1-6, .my-1-6 {
    margin-bottom: 1.6rem;
}

.image-preview__image {
    height: 300px;
    width: 350px;
    margin: 30px 0 0 30px;
}